# Ages Ranges of Mexican States

This Notebook uses the Ages Ranges dataframe of Mexican States (admin1) derived from the 2020 Mexican Census: [INEGI](https://www.inegi.org.mx/app/tabulados/interactivos/?pxq=Poblacion_Poblacion_01_e60cd8cf-927f-4b94-823e-972457a12d4b).

In [1]:
import pandas as pd

The ages ranges dataframe is read

In [2]:
df = pd.read_excel('../data/Poblacion_01.xlsx',skiprows = range(0, 5))

Only the state data is selected

In [3]:
df = df.loc[:31].copy()

The name of the columns is changed so the interpretation can be easier

In [4]:
df.rename(columns = {'Entidad federativa': 'state', 'Grupo quinquenal de edad': 'age_range'}, inplace=True)

The state column is cleaned because it will be use for future merging

In [5]:
df['state'] = df['state'].str.upper().str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
df.head()

,state,0 a 4 años,5 a 9 años,10 a 14 años,15 a 19 años,20 a 24 años,25 a 29 años,30 a 34 años,35 a 39 años,40 a 44 años,...,55 a 59 años,60 a 64 años,65 a 69 años,70 a 74 años,75 a 79 años,80 a 84 años,85 a 89 años,90 a 94 años,95 a 99 años,100 años y más
0,AGUASCALIENTES,124430.0,131048.0,129717.0,131967.0,127020.0,118426.0,106825.0,99257.0,92378.0,...,58865.0,48306.0,35823.0,25586.0,16581.0,10186.0,5576.0,2410.0,796.0,112.0
1,BAJA CALIFORNIA,266301.0,299654.0,312348.0,315639.0,340359.0,328244.0,302389.0,292069.0,273611.0,...,168653.0,134022.0,94704.0,65425.0,40874.0,25204.0,12451.0,4858.0,1512.0,252.0
2,BAJA CALIFORNIA SUR,62455.0,66933.0,67665.0,65469.0,66743.0,68798.0,67779.0,64927.0,59389.0,...,33731.0,27095.0,19274.0,12545.0,8166.0,4649.0,2556.0,936.0,332.0,55.0
3,CAMPECHE,78935.0,82015.0,80168.0,76140.0,75556.0,72798.0,72709.0,70275.0,64170.0,...,40805.0,32778.0,25796.0,17559.0,11916.0,7536.0,4413.0,1768.0,701.0,149.0
4,COAHUILA DE ZARAGOZA,279912.0,276224.0,268144.0,269284.0,264313.0,245917.0,224329.0,219634.0,218687.0,...,142215.0,118950.0,84422.0,61684.0,39801.0,24851.0,12495.0,4712.0,1408.0,214.0

The states code dataframe is read

In [6]:
dfStates = pd.read_csv('../data/week2_states_code_institution.csv')

Only the relevant columns of the states code dataframe are selected

In [7]:
dfStates = dfStates[['cve_ent','state_inegi']]

The state column is rename for a easier merging

In [8]:
dfStates.rename(columns = {'state_inegi':'state'},inplace=True)

The ages range dataframe is merged with the states code dataframe through the state column

In [9]:
dfFinal = pd.merge(dfStates,df,on='state')
dfFinal.head()

,cve_ent,state,0 a 4 años,5 a 9 años,10 a 14 años,15 a 19 años,20 a 24 años,25 a 29 años,30 a 34 años,35 a 39 años,...,55 a 59 años,60 a 64 años,65 a 69 años,70 a 74 años,75 a 79 años,80 a 84 años,85 a 89 años,90 a 94 años,95 a 99 años,100 años y más
0,1,AGUASCALIENTES,124430.0,131048.0,129717.0,131967.0,127020.0,118426.0,106825.0,99257.0,...,58865.0,48306.0,35823.0,25586.0,16581.0,10186.0,5576.0,2410.0,796.0,112.0
1,2,BAJA CALIFORNIA,266301.0,299654.0,312348.0,315639.0,340359.0,328244.0,302389.0,292069.0,...,168653.0,134022.0,94704.0,65425.0,40874.0,25204.0,12451.0,4858.0,1512.0,252.0
2,3,BAJA CALIFORNIA SUR,62455.0,66933.0,67665.0,65469.0,66743.0,68798.0,67779.0,64927.0,...,33731.0,27095.0,19274.0,12545.0,8166.0,4649.0,2556.0,936.0,332.0,55.0
3,4,CAMPECHE,78935.0,82015.0,80168.0,76140.0,75556.0,72798.0,72709.0,70275.0,...,40805.0,32778.0,25796.0,17559.0,11916.0,7536.0,4413.0,1768.0,701.0,149.0
4,5,COAHUILA DE ZARAGOZA,279912.0,276224.0,268144.0,269284.0,264313.0,245917.0,224329.0,219634.0,...,142215.0,118950.0,84422.0,61684.0,39801.0,24851.0,12495.0,4712.0,1408.0,214.0

The columns of the final dataframe are renamed so that the interpretation of them will be easier

In [10]:
dfFinal.rename(columns = {'0 a 4 años':'0_4_years_old','5 a 9 años':'5_9_years_old','10 a 14 años':'10_14_years_old',
                         '15 a 19 años':'15_19_years_old','20 a 24 años':'20_24_years_old','25 a 29 años':'25_29_years_old',
                         '30 a 34 años':'30_34_years_old','35 a 39 años':'35_39_years_old','40 a 44 años':'40_44_years_old',
                         '45 a 49 años':'45_49_years_old','50 a 54 años':'50_54_years_old','55 a 59 años':'55_59_years_old',
                         '60 a 64 años':'60_64_years_old','65 a 69 años':'65_69_years_old','70 a 74 años':'70_74_years_old',
                         '75 a 79 años':'75_79_years_old','80 a 84 años':'80_84_years_old','85 a 89 años':'85_89_years_old',
                         '90 a 94 años':'90_94_years_old','95 a 99 años':'95_99_years_old','100 años y más':'100_and_more_years_old'}, inplace=True)

The week 1 analyzes dataframe is read with only the the columns of interest

In [11]:
dfWeek1 = pd.read_csv('../data/week1analyzesStates.csv',usecols=['cve_ent', 'population'])
dfWeek1.head()

   cve_ent  population
0        1     1434635
1        2     3634868
2        3      804708
3        4     1000617
4        7     5730367

The dataframe with all the ages ranges and the dataframe with the population is merged through the state code column

In [12]:
dfAll = pd.merge(dfWeek1,dfFinal,on='cve_ent')
dfAll.head()

,cve_ent,population,state,0_4_years_old,5_9_years_old,10_14_years_old,15_19_years_old,20_24_years_old,25_29_years_old,30_34_years_old,...,55_59_years_old,60_64_years_old,65_69_years_old,70_74_years_old,75_79_years_old,80_84_years_old,85_89_years_old,90_94_years_old,95_99_years_old,100_and_more_years_old
0,1,1434635,AGUASCALIENTES,124430.0,131048.0,129717.0,131967.0,127020.0,118426.0,106825.0,...,58865.0,48306.0,35823.0,25586.0,16581.0,10186.0,5576.0,2410.0,796.0,112.0
1,2,3634868,BAJA CALIFORNIA,266301.0,299654.0,312348.0,315639.0,340359.0,328244.0,302389.0,...,168653.0,134022.0,94704.0,65425.0,40874.0,25204.0,12451.0,4858.0,1512.0,252.0
2,3,804708,BAJA CALIFORNIA SUR,62455.0,66933.0,67665.0,65469.0,66743.0,68798.0,67779.0,...,33731.0,27095.0,19274.0,12545.0,8166.0,4649.0,2556.0,936.0,332.0,55.0
3,4,1000617,CAMPECHE,78935.0,82015.0,80168.0,76140.0,75556.0,72798.0,72709.0,...,40805.0,32778.0,25796.0,17559.0,11916.0,7536.0,4413.0,1768.0,701.0,149.0
4,7,5730367,CHIAPAS,574152.0,612792.0,583132.0,526577.0,464523.0,424403.0,396045.0,...,196355.0,158726.0,125777.0,85855.0,63158.0,38245.0,21839.0,8853.0,3855.0,1449.0

The final dataframe to store is created and the percentage of population that is part of each age range are computed and added to it

In [13]:
dfFinal=pd.DataFrame()
dfFinal['cve_ent']=dfAll['cve_ent']
dfFinal['pct_pop_0_4_years_old']=(dfAll['0_4_years_old']/dfAll['population'])*100
dfFinal['pct_pop_5_9_years_old']=(dfAll['0_4_years_old']/dfAll['population'])*100
dfFinal['pct_pop_10_14_years_old']=(dfAll['10_14_years_old']/dfAll['population'])*100
dfFinal['pct_pop_15_19_years_old']=(dfAll['15_19_years_old']/dfAll['population'])*100
dfFinal['pct_pop_20_24_years_old']=(dfAll['20_24_years_old']/dfAll['population'])*100
dfFinal['pct_pop_25_29_years_old']=(dfAll['25_29_years_old']/dfAll['population'])*100
dfFinal['pct_pop_30_34_years_old']=(dfAll['30_34_years_old']/dfAll['population'])*100
dfFinal['pct_pop_35_39_years_old']=(dfAll['35_39_years_old']/dfAll['population'])*100
dfFinal['pct_pop_40_44_years_old']=(dfAll['40_44_years_old']/dfAll['population'])*100
dfFinal['pct_pop_45_49_years_old']=(dfAll['45_49_years_old']/dfAll['population'])*100
dfFinal['pct_pop_50_54_years_old']=(dfAll['50_54_years_old']/dfAll['population'])*100
dfFinal['pct_pop_55_59_years_old']=(dfAll['55_59_years_old']/dfAll['population'])*100
dfFinal['pct_pop_60_64_years_old']=(dfAll['60_64_years_old']/dfAll['population'])*100
dfFinal['pct_pop_65_69_years_old']=(dfAll['65_69_years_old']/dfAll['population'])*100
dfFinal['pct_pop_70_74_years_old']=(dfAll['70_74_years_old']/dfAll['population'])*100
dfFinal['pct_pop_75_79_years_old']=(dfAll['75_79_years_old']/dfAll['population'])*100
dfFinal['pct_pop_80_84_years_old']=(dfAll['80_84_years_old']/dfAll['population'])*100
dfFinal['pct_pop_85_89_years_old']=(dfAll['85_89_years_old']/dfAll['population'])*100
dfFinal['pct_pop_90_94_years_old']=(dfAll['90_94_years_old']/dfAll['population'])*100
dfFinal['pct_pop_95_99_years_old']=(dfAll['95_99_years_old']/dfAll['population'])*100
dfFinal['pct_pop_100_and_more_years_old']=(dfAll['100_and_more_years_old']/dfAll['population'])*100

In [14]:
dfFinal.head()

,cve_ent,pct_pop_0_4_years_old,pct_pop_5_9_years_old,pct_pop_10_14_years_old,pct_pop_15_19_years_old,pct_pop_20_24_years_old,pct_pop_25_29_years_old,pct_pop_30_34_years_old,pct_pop_35_39_years_old,pct_pop_40_44_years_old,...,pct_pop_55_59_years_old,pct_pop_60_64_years_old,pct_pop_65_69_years_old,pct_pop_70_74_years_old,pct_pop_75_79_years_old,pct_pop_80_84_years_old,pct_pop_85_89_years_old,pct_pop_90_94_years_old,pct_pop_95_99_years_old,pct_pop_100_and_more_years_old
0,1,8.673286,8.673286,9.041812,9.198646,8.853820,8.254783,7.446145,6.918624,6.439129,...,4.103134,3.367128,2.497011,1.783450,1.155764,0.710006,0.388670,0.167987,0.055484,0.007807
1,2,7.326291,7.326291,8.593104,8.683644,9.363724,9.030424,8.319119,8.035202,7.527399,...,4.639866,3.687122,2.605432,1.799928,1.124498,0.693395,0.342543,0.133650,0.041597,0.006933
2,3,7.761200,7.761200,8.408640,8.135746,8.294064,8.549437,8.422807,8.068393,7.380193,...,4.191707,3.367060,2.395155,1.558951,1.014778,0.577725,0.317631,0.116315,0.041257,0.006835
3,4,7.888633,7.888633,8.011857,7.609305,7.550941,7.275311,7.266417,7.023167,6.413043,...,4.077984,3.275779,2.578009,1.754817,1.190865,0.753135,0.441028,0.176691,0.070057,0.014891
4,7,10.019463,10.019463,10.176172,9.189237,8.106339,7.406210,6.911337,6.506791,5.744903,...,3.426569,2.769910,2.194920,1.498246,1.102163,0.667409,0.381110,0.154493,0.067273,0.025286

The dataframe is stored

In [15]:
dfFinal.to_csv('../data/week3_ages_ranges_states.csv',index=False)